<h1>Sign Up</h1>

<% if @existing_user %>
  <p>That username is taken. Please pick a different username:</p>
<% else %>
  <p>Thanks for shopping at Five A Day! Please sign up below:</p>
<% end %>

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">
</form>
