<h1>Sign Up</h1>

<p>Thanks for shopping at Five A Day! Please sign up below:</p>

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">
</form>

<p>Already a member? <a href="/login">Login here.</a></p>