<h1>Welcome back to Five A Day! Please login below:</h1>

<% if @status == 'login failed' %>
  <p>Login failed. Please try again:</p>
<% end %>

<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="submit">
</form>

<a href="/signup">Sign Up</a>