<nav>
  <a href="/items">Shop</a> <a href="/carts">My Carts</a> <a href="/logout">Logout</a>
</nav>

<h1>Welcome to the Five A Day store!</h1>
<h3>We are dedicated to providing the highest quality whole foods and absolutely nothing else.</h3><br />
<h3>Please select the food category you are looking for:</h3><br />

<% @categories.each do |category| %>
    <a href="/items/<%=category.downcase.gsub(" ","-")%>"><img src="images/index/<%=category.downcase.gsub(" ","-")%>.jpg" alt="<%=category%>"></a>
    <figcaption><%= category %></figcaption>
<% end %>