<h1>Welcome to Five A Day!</h1><br />

<h3>"Eat food, not too much, mostly plants." ~ Michael Pollan</h3><br />


<h2>Five A Day is a store dedicated to providing whole foods and absolutely nothing else.</h2>
<p> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</p>
